<div class="main-content container">
    <h1 class="attacksTitle">Select a town hall level to see attack strategies</h1>
    <br/>
    <br/>
    <br/>
    
    <button class="btn btn-danger btn-lg btn-block">Town Hall 5</button>
    
    <button class="btn btn-danger btn-lg btn-block">Town Hall 6</button>
    
    <button class="btn btn-danger btn-lg btn-block">Town Hall 7</button>
    
    <button class="btn btn-danger btn-lg btn-block">Town Hall 8</button>
    
    <button class="btn btn-danger btn-lg btn-block">Town Hall 9</button>






</div>