<div class="main-content container">
    <h1 class="attacksTitle">Select a town hall level to see attack strategies</h1>
    <br/>
    <br/>
    <br/>
    
    <button class="btn btn-danger btn-lg btn-block" ng-click="fiveShowing=!fiveShowing; getTH5attacks()">Town Hall 5</button>
        
        <li ng-repeat="attack in th5Attacks | orderBy: '+name'" ng-show="fiveShowing">
    
            <a href="{{attack.link}}" target="_blank">{{attack.name}}</a>
        </li>
    
        
    <button class="btn btn-danger btn-lg btn-block" ng-click="sixShowing=!sixShowing; getTH6attacks()">Town Hall 6</button>
        
        <li ng-repeat="attack in th6Attacks | orderBy: '+name'" ng-show="sixShowing">
    
            <a href="{{attack.link}}" target="_blank">{{attack.name}}</a>
    
        </li>
    <button class="btn btn-danger btn-lg btn-block" ng-click="sevenShowing=!sevenShowing; getTH7attacks()">Town Hall 7</button>
        
        <li ng-repeat="attack in th7Attacks | orderBy: '+name'" ng-show="sevenShowing">
    
            <a href="{{attack.link}}" target="_blank">{{attack.name}}</a>
    
        </li>
    <button class="btn btn-danger btn-lg btn-block" ng-click="eightShowing=!eightShowing; getTH8attacks()">Town Hall 8</button>
        
        <li ng-repeat="attack in th8Attacks | orderBy: '+name'" ng-show="eightShowing">
    
            <a href="{{attack.link}}" target="_blank">{{attack.name}}</a>
            
        </li>
    <button class="btn btn-danger btn-lg btn-block" ng-click="nineShowing=!nineShowing; getTH9attacks()">Town Hall 9</button>
        
        <li ng-repeat="attack in th9Attacks | orderBy: '+name'" ng-show="nineShowing">
    
            <a href="{{attack.link}}" target="_blank">{{attack.name}}</a>
    
        </li>


    </br>
    </br>
    </br>

</div>