    <div class="main-content container jumbotron">
      <h1>Welcome to the home of the</h1>
        <img class="jumboLogo" src="../Drawing.png">
        </br>
      <h4>Current War Wins: 114</h4> <!-- fetch this number from database -->
        </br>
      <p>Welcome to hoodpopes.net, your resource to better clashin'!</p>
      <!--  Our current war wins: *number*...*last_updated*: --autoInsert date here--   -->
    </div>



      <div class="container introPar">
        <p>We are the Hood_Popes, a clan on the popular mobile game <a href="https://clashofclans.com" class="clashLink">Clash of Clans</a>. The purpose of this site is merely to provide resources to our members, as well as to any other interested party, who wish to improve their skills and defenses on this game!
            
        </p>
          
          <br/>
        <p>
          If you have any questions/suggestions, please feel free to <a href="mailto:kyle.lauritzen@gmail.com">contact us</a>.
          
          
        </p>
</br>
</br>
</br>
</br>

        <p class ="supercell-disclaimer">Disclaimer: This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it. For more information see Supercell’s Fan Content Policy: <a href="www.supercell.com/fan-content-policy.">"www.supercell.com/fan-content-policy."</a></p>
        
      </div>
