    <div class="main-content container jumbotron">
      <h1>Welcome to the home of the Hood_Popes!</h1>
        </br>
      <h4>Current War Wins: 114</h4> <!-- fetch this number from database -->
        </br>
      <p>Welcome to the home of the Hood_Popes clan, and your resource to better clashin'!</p>
      <!--  Our current war wins: *number*...*last_updated*: --autoInsert date here--   -->
    
    
    
    
    
    </div>

      <div class="container introPar">
        We are the Hood_Popes, a clan on the popular mobile game <a href="http://supercell.com/en/games/clashofclans/" class="clashLink">Clash of Clans</a>. The purpose of this site is merely to provide resources to our members, as well as to any other interested party, who wish to improve their skills and defenses on this game!
        
        
      </div>
