<div class="main-content container">
    <h1 class="layoutsTitle">Select a town hall level to see base layouts</h1>
    <br/>
    <br/>
    <br/>
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="fiveShowing=!fiveShowing">Town Hall 5</button>
    
    <li ng-repeat="layout in th5" ng-show="fiveShowing">
    
        {{layout}}
    
    </li>
    
    
    
    
    
    
    
    
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="sixShowing=!sixShowing">Town Hall 6</button>
    
        <li ng-repeat="layout in th6" ng-show="sixShowing">
    
        {{layout}}
    
    </li>
    
    
    
    
    
    
    
    
    
    
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="sevenShowing=!sevenShowing">Town Hall 7</button>
    
        <li ng-repeat="layout in th7" ng-show="sevenShowing">
    
        {{layout}}
    
    </li>
    
    
    
    
    
    
    
    
    
    
    
    
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="eightShowing=!eightShowing">Town Hall 8</button>
    
        <li ng-repeat="layout in th8" ng-show="eightShowing">
    
        {{layout}}
    
    </li>
    
    
    
    
    
    
    
    
    
    
    
    
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="nineShowing=!nineShowing">Town Hall 9</button>
    
        <li ng-repeat="layout in th9" ng-show="nineShowing">
    
        {{layout}}
    
    </li>




</div>