<div class="main-content container">
    <h1 class="layoutsTitle">Select a town hall level to see base layouts</h1>
    <br/>
    <br/>
    <br/>
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="fiveShowing=!fiveShowing; getTH5layouts(5)">Town Hall 5</button>
    
    <li ng-repeat="layout in th5Layouts" ng-show="fiveShowing">
    
        <a href="{{layout.link}}">{{layout.name}}</a>
    
    </li>
    
    
    
    
    
    
    
    
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="sixShowing=!sixShowing; getTH6layouts(6)">Town Hall 6</button>
    
        <li ng-repeat="layout in th6Layouts" ng-show="sixShowing">
    
        <a href="{{layout.link}}">{{layout.name}}</a>
    
    </li>
    
    
    
    
    
    
    
    
    
    
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="sevenShowing=!sevenShowing; getTH7layouts(7)">Town Hall 7</button>
    
        <li ng-repeat="layout in th7Layouts" ng-show="sevenShowing">
    
        <a href="{{layout.link}}">{{layout.name}}</a>
    
    </li>
    
    
    
    
    
    
    
    
    
    
    
    
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="eightShowing=!eightShowing; getTH8layouts(8)">Town Hall 8</button>
    
        <li ng-repeat="layout in th8Layouts" ng-show="eightShowing">
    
        <a href="{{layout.link}}">{{layout.name}}</a>
    
    </li>
    
    
    
    
    
    
    
    
    
    
    
    
    
    <button class="btn btn-primary btn-lg btn-block" ng-click="nineShowing=!nineShowing; getTH9layouts(9)">Town Hall 9</button>
    
        <li ng-repeat="layout in th9Layouts" ng-show="nineShowing">
    
        <a href="{{layout.link}}">{{layout.name}}</a>
    
    </li>



    </br>
    </br>
    </br>

</div>