<div class="main-content container">
    
    11/22/2015: <a href="clashofclans.com">clashofclans.com</a> has just been released! (before that, they only had a page off of Supercell's main page).
    <br/>
    <br/>
    11/20/2015: Town Hall 11 coming in just a few weeks! Stay tuned for more details...
    
    --posted by EsteGuey
    
    </br>
    </br>

    <button type="button" class="btn btn-primary" ng-click="loginClicked()">Admin Login</button>

    <div class="adminPass" ng-show="passwordBoxShowing"> 
        <form>
        <input type="password" placeholder="Password for admin..." ng-model="passwordHere">
            
        <button type="submit" ng-click="checkForAdmin(passwordHere)">Submit</button>
        </form>
        

    </div>

</br>
</br>

    <form ng-show="isAdmin">
        Message: <textarea ng-model="newMsg"></textarea>


    </form>
</div>